@import url(../CSS;SASS/mainElements.css);
$color-border: #CDCDCD;
.first-main {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 87%;
    height:max-content;
    .red-text {
        color: #B02B33;
        font-size: 26px;
        font-family: 'Zen Antique', serif;
        font-weight: 600;
        margin: 0 0 0 10px;
        text-indent: 15px;
        border-bottom: 1px solid $color-border;
        width:90%;
        text-align:center;
    }
    .mini-news {
        display: inline-flex;
        margin: 15px 0 0 20px;
        padding-bottom:10px;
        border-bottom: 1px solid $color-border;
        width: 90%;
        p {
            font-family: 'Zen Antique', serif;
            font-size:16px;
            margin-left:5px;
        }
    }
    section.interesting-news {
        border: 1px solid $color-border;
        border-left: none;
        width: 30%;
        .mini-news p a {
            color: #B02B33;
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }
        .mini-news p a:hover {
            color:#541414;
        }
    }
}
.about-us {
    width: 69.72%;
    background-color: #fff;
    border: 1px solid $color-border;
    min-height: 890px;
    height:max-content;
    h1 {
        margin: 15px 0 15px 60px;
        font-size: 52px;
    }
    img {
        width: 85%;
        height: 470px;
        margin: 0 0 0 60px;
    }
    .information {
        font-size: 30px;
        font-family: 'Zen Antique', serif;
        text-indent: 50px;
        margin: 10px 0 0 60px;
        width: 86%;
        line-height: 33px;
    }
}
.symbol-foot {
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-top: 20px;
    padding-top:25%;
}
@media only screen and (max-device-width : 480px) {
    section.interesting-news {
        min-height: 400px;
    }
    .first-main {
        .red-text {
            font-size: 20px;
        }
        .mini-news {
            p {
                font-size:10px;
            }
        }
        section.interesting-news {
            width: 29.9295%;
        }
    }
    .about-us {
        width: 69.72%;
        background-color: #fff;
        border: 1px solid $color-border;
        min-height: 700px;
        height:max-content;
        h1 {
            font-size: 40px;
        }
        img {
            width: 75%;
            height: 300px;
        }
        .information {
            font-size: 13px;
            line-height: 20px;
        }
    }
}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        .mini-news {
            p {
                font-size:12px;
            }
        }
        section.interesting-news {
            width: 29.9295%;
            min-height: 400px;
            figure {
                font-size: 60px;
                height:max-content;
            }
        }
    }
    .about-us {
        min-height: 700px;
        h1 {
            font-size: 42px;
        }
        img {
            width: 77%;
            height: 320px;
        }
        .information {
            font-size: 19px;
            line-height: 22px;
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        .mini-news {
            p {
                font-size:12px;
            }
        }
        section.interesting-news {
            width: 29.9295%;
            min-height: 400px;
            figure {
                font-size: 60px;
                height:max-content;
            }
        }
    }
    .about-us {
        min-height: 700px;
        h1 {
            font-size: 44px;
        }
        img {
            width: 80%;
            height: 340px;
        }
        .information {
            font-size: 20px;
            line-height: 22px;
        }
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1400px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        section.interesting-news {
            width: 29.9295%;
            min-height: 400px;
            figure {
                font-size: 80px;
                height:max-content;
            }
            .mini-news {
                p {
                    font-size: 14px;
            }
        }
        }
    }
    .about-us {
        min-height: 700px;
        h1 {
            font-size: 46px;
        }
        img {
            width: 80%;
            height: 340px;
        }
        .information {
            font-size: 24px;
            line-height: 28px;
        }
    }
}
