@import url(../CSS;SASS/mainElements.css);
$color-border: #CDCDCD;
@mixin red-text {
    color: #B02B33;
    font: {
        size: 26px;
        family: 'Zen Antique', serif;
        weight: 600;
    }
}
.first-main {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 87%;
    height: max-content;
    .red-text {
        @include red-text;
        margin: 0 0 0 10px;
        text-indent: 15px;
        border-bottom: 1px solid #CDCDCD;
        width:90%;
        text-align:center;
    }
    .mini-news {
        display: inline-flex;
        margin: 15px 0 0 20px;
        padding-bottom:10px;
        border-bottom: 1px solid #CDCDCD;
        width: 90%;
        p {
            font-family: 'Zen Antique', serif;
            font-size:16px;
            margin-left:5px;
        }
    }
    section.interesting-news {
        border: 1px solid #CDCDCD;
        border-left: none;
        border-bottom: none;
        min-height: 890px;
        height: max-content;
        width: 30%;
        .mini-news p a {
            color: #B02B33;
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }
        .mini-news p a:hover {
            color:#541414;
        }
    }
}
.contacts {
    width: 69.72%;
    height:max-content;
    background-color: #fff;
    border: 1px solid $color-border;
    min-height: 890px;
    height:max-content;
    h1 {
        margin: 15px 0 10px 45px;
        font-size: 52px;
    }
    figure {
        display: inline-flex;
        margin-left: 30px;
        height: max-content;
        width: 90%;
        border-bottom: 1px solid $color-border;
        padding-bottom: 15px;
    }
    figure:last-child {
        border-bottom: none;
    }
    img {
        width: 36%;
        height: 260px;
        margin: 15px 0 0px 15px;
    }
    .developer {
        display: inline-block;
        font-size: 26px;
        font-family: 'Zen Antique', serif;
        margin: 10px 0 0 25px;
        width: 60%;
        line-height: 35px;
    }
    .bold {
        font-weight: bold;
        font-size: 27px;
    }
}
.symbol-foot {
    width: 100%;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    padding-top:25%;
}
@media only screen and (max-device-width : 480px) {
    .first-main {
        .red-text {
            font-size: 20px;
        }
        section.interesting-news {
            width: 29.9295%;
            min-height: 300px;
            .mini-news {
                p {
                    font-size: 10px;
                }
            }
            figure {
                font-size: 60px;
                height: max-content;
            }
        }
    }
    .contacts {
        width: 69.72%;
        height:max-content;
        background-color: #fff;
        border: 1px solid #CDCDCD;
        min-height: 700px;
        height:max-content;
        h1 {
            font-size: 40px;
        }
        img {
            width: 20%;
            height: 100px;
        }
        .developer {
            font-size: 15px;
            margin: 10px 0 0 25px;
            line-height: 25px;
        }
        .bold {
            font-size: 15px;
        }
    }
}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        section.interesting-news {
            width: 29.9295%;
            .mini-news {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .contacts {
        min-height: 890px;
        h1 {
            font-size: 42px;
        }
        img {
            width: 30%;
            height: 150px;
        }
        .developer {
            font-size: 18px;
            margin: 10px 0 0 25px;
            line-height: 26px;
        }
        .bold {
            font-size: 19px;
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        section.interesting-news {
            width: 29.9295%;
            .mini-news {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .contacts {
        min-height: 890px;
        h1 {
            font-size: 44px;
        }
        img {
            width: 34%;
            height: 160px;
        }
        .developer {
            font-size: 19px;
            margin: 10px 0 0 25px;
            line-height: 26px;
        }
        .bold {
            font-size: 20px;
        }
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1400px) {
    .first-main {
        .red-text {
            font-size: 22px;
        }
        section.interesting-news {
            width: 29.9295%;
            .mini-news {
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .contacts {
        min-height: 890px;
        h1 {
            font-size: 46px;
        }
        img {
            width: 28%;
            height: 170px;
        }
        .developer {
            font-size: 20px;
            margin: 10px 0 0 25px;
            line-height: 26px;
        }
        .bold {
            font-size: 22px;
        }
    }
}