@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
@font-face {
  font-family: "Follow_me";
  src: url(../Fonts/Follow_Me.ttf);
}
@font-face {
  font-family: "segoe";
  src: url(../Fonts/segoeprint.ttf);
}