@import url(../CSS;SASS/fonts.css);
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
  color: #000;
}

.symbol-foot {
  height: 225px;
  width: 24.82%;
  border: 1px solid #CDCDCD;
  background-color: #fff;
  border-bottom: none;
  font-family: 'Follow_me';
  color: #000;
  font-size: 112px;
  text-align: center;
}

.symbol-foot sup {
  color: #51113F;
}

.cap {
  width: 87%;
  background-color: #FFF;
  border: 1px solid #CDCDCD;
}

.cap nav.nav-secondary {
  width: 100%;
  height: 35px;
  background-color: #FFF;
  border-bottom: 1px solid #CDCDCD;
}

.cap nav.nav-secondary .icons {
  margin: 13px 0 0 10px;
  width: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.cap nav.nav-secondary .icons:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cap nav.nav-secondary a {
  font-size: 20px;
  width: 20%;
  margin-left: 20px;
  font-family: 'Zen Antique', serif;
  color: #000;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.cap nav.nav-secondary a:hover {
  font-size: 20.7px;
  color: #330606;
}

.cap p.symbol {
  height: 180px;
  font-size: 120px;
  margin-left: 40px;
  font-family: 'Follow_me';
  background-image: url(../PHOTOes/2.jpg);
  background-position: 730px -180px;
  background-size: 750px;
  background-repeat: no-repeat;
}

.cap p.symbol span.news-color {
  color: #51113F;
}

.nav-main {
  width: 87%;
  height: 65px;
  border-bottom: 1px solid #CDCDCD;
  text-align: center;
  background-color: #000;
  border: 1px solid #F3F3F3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main a {
  height: 80px;
  width: 20%;
  font-size: 44px;
  font-family: 'Zen Antique', serif;
  color: #FFF;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.nav-main a:hover {
  font-size: 36.4px;
  color: #d8c8e8;
}

.news-scince {
  background-color: #475D6D;
}

.news-sport {
  background-color: #9A5300;
}

.news-world {
  background-color: #135519;
}

.news-politics {
  background-color: #093969;
}

.news-belarus {
  background-color: #8F0000;
}

footer.basement {
  width: 87%;
  height: 100px;
  background-color: #000;
  border: 1px solid #F3F3F3;
  position: -webkit-sticky;
  position: sticky;
}

footer.basement p {
  position: absolute;
  color: #fff;
}

footer.basement p.quote-first {
  font-family: 'Follow_me';
  font-size: 38px;
  margin: 6px 0px 0px 110px;
}

footer.basement p.quote-second {
  font-family: 'segoe';
  font-size: 16px;
  font-weight: 100;
  margin: 55px 0px 0px 20px;
}

footer.basement p.quote-third {
  font-family: 'Merienda';
  font-size: 24px;
  margin: 15px 0px 38px 870px;
}

footer.basement p.quote-third a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

footer.basement p.quote-third .insta {
  margin-left: 3px;
}

footer.basement p.quote-four {
  font-family: 'Follow_me';
  font-size: 68px;
  margin: 0px 0px 0px 625px;
}

footer.basement .quote-fifth {
  font-family: 'Merienda';
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0px 30px 1060px;
}

@media only screen and (max-device-width: 480px) {
  .cap nav.nav-secondary a {
    font-size: 15px;
  }
  .cap nav.nav-secondary a:hover {
    font-size: 16px;
  }
  .cap p.symbol {
    background-position: 350px -180px;
  }
  .nav-main a {
    font-size: 30px;
    height: 55px;
  }
  .nav-main a:hover {
    font-size: 27px;
  }
  footer.basement p.quote-first {
    font-size: 36px;
  }
  footer.basement p.quote-second {
    font-size: 13px;
  }
  footer.basement p.quote-third {
    font-size: 17px;
    margin: 20px 0px 30px 550px;
  }
  footer.basement p.quote-third a {
    display: inline-block;
    width: 21px;
    height: 22px;
  }
  footer.basement p.quote-four {
    font-size: 50px;
    margin: 10px 0px 0px 425px;
  }
  footer.basement .quote-fifth {
    font-family: 'Merienda';
    font-size: 17px;
    line-height: 22px;
    margin: 20px 0px 30px 700px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .cap nav.nav-secondary a {
    font-size: 17px;
  }
  .cap p.symbol {
    background-position: 400px -180px;
  }
  .nav-main a {
    font-size: 32px;
    height: 55px;
  }
  footer.basement p.quote-first {
    font-size: 40px;
  }
  footer.basement p.quote-second {
    font-size: 13px;
  }
  footer.basement p.quote-third {
    font-size: 20px;
    margin: 15px 0px 30px 550px;
  }
  footer.basement p.quote-third a {
    display: inline-block;
    width: 24px;
    height: 22px;
  }
  footer.basement p.quote-four {
    font-size: 60px;
    margin: 3px 0px 0px 425px;
  }
  footer.basement .quote-fifth {
    font-size: 20px;
    line-height: 22px;
    margin: 15px 0px 30px 700px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cap nav.nav-secondary .icons {
    margin: 13px 0 0 10px;
    width: 17.5px;
  }
  .cap nav.nav-secondary a {
    font-size: 18px;
  }
  .cap nav.nav-secondary a:hover {
    font-size: 19px;
  }
  .cap p.symbol {
    background-position: 400px -180px;
  }
  .nav-main a {
    font-size: 36px;
    height: 62px;
  }
  .nav-main a:hover {
    font-size: 37px;
  }
  footer.basement p.quote-first {
    font-size: 30px;
  }
  footer.basement p.quote-second {
    font-size: 13px;
  }
  footer.basement p.quote-third {
    font-size: 20px;
    margin: 20px 0px 30px 560px;
  }
  footer.basement p.quote-third a {
    display: inline-block;
    width: 24px;
    height: 22px;
  }
  footer.basement p.quote-four {
    font-size: 60px;
    margin: 2px 0px 0px 425px;
  }
  footer.basement .quote-fifth {
    font-family: 'Merienda';
    font-size: 20px;
    line-height: 22px;
    margin: 20px 0px 30px 700px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
  .cap nav.nav-secondary .icons {
    margin: 13px 0 0 10px;
    width: 17.5px;
  }
  .cap nav.nav-secondary a {
    font-size: 18px;
  }
  .cap nav.nav-secondary a:hover {
    font-size: 19px;
  }
  .cap p.symbol {
    background-position: 570px -180px;
  }
  .nav-main a {
    font-size: 37px;
    height: 64px;
  }
  .nav-main a:hover {
    font-size: 37px;
  }
  footer.basement p.quote-first {
    font-size: 40px;
  }
  footer.basement p.quote-second {
    font-size: 15px;
  }
  footer.basement p.quote-third {
    font-size: 24px;
    margin: 20px 0px 30px 700px;
    line-height: 30px;
  }
  footer.basement p.quote-third a {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  footer.basement p.quote-third path {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  footer.basement p.quote-third svg:hover path {
    fill: #51113F;
  }
  footer.basement p.quote-four {
    font-size: 66px;
    margin: 2px 0px 0px 490px;
  }
  footer.basement .quote-fifth {
    font-family: 'Merienda';
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0px 30px 900px;
  }
}
/*# sourceMappingURL=mainElements.css.map */