@import url(../CSS;SASS/mainElements.css);
.first-main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  width: 87%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.first-main .red-text {
  color: #B02B33;
  font-size: 26px;
  font-family: 'Zen Antique', serif;
  font-weight: 600;
  margin: 0 0 0 10px;
  text-indent: 15px;
  border-bottom: 1px solid #CDCDCD;
  width: 90%;
  text-align: center;
}

.first-main .mini-news {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 15px 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CDCDCD;
  width: 90%;
}

.first-main .mini-news p {
  font-family: 'Zen Antique', serif;
  font-size: 16px;
  margin-left: 5px;
}

.first-main section.interesting-news {
  border: 1px solid #CDCDCD;
  border-left: none;
  width: 30%;
}

.first-main section.interesting-news .mini-news p a {
  color: #B02B33;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.first-main section.interesting-news .mini-news p a:hover {
  color: #541414;
}

.about-us {
  width: 69.72%;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  min-height: 890px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.about-us h1 {
  margin: 15px 0 15px 60px;
  font-size: 42px;
}

.about-us img {
  width: 85%;
  height: 400px;
  margin: 0 0 0 60px;
}

.about-us .information {
  font-size: 30px;
  font-family: 'Zen Antique', serif;
  text-indent: 50px;
  margin: 10px 0 0 60px;
  width: 86%;
  line-height: 33px;
}

.about-us p:last-child {
  margin-bottom: 55px;
}

.symbol-foot {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-top: 20px;
  padding-top: 25%;
}

@media only screen and (max-device-width: 480px) {
  .first-main {
    min-height: 600px;
  }
  .first-main .red-text {
    font-size: 20px;
  }
  .first-main p {
    font-size: 10px;
  }
  .first-main section.interesting-news {
    min-height: 700px;
    width: 29.9295%;
  }
  .first-main section.interesting-news .mini-news p {
    font-size: 10px;
  }
  .about-us {
    width: 69.72%;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    min-height: 700px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-us h1 {
    font-size: 30px;
  }
  .about-us img {
    width: 70%;
    height: 250px;
  }
  .about-us .information {
    font-size: 13px;
    line-height: 20px;
  }
  .symbol-foot {
    font-size: 60px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .first-main {
    min-height: 600px;
  }
  .first-main .red-text {
    font-size: 22px;
  }
  .first-main section.interesting-news {
    min-height: 820px;
    width: 29.9295%;
  }
  .first-main section.interesting-news .mini-news p {
    font-size: 12px;
  }
  .about-us {
    min-height: 860px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-us h1 {
    font-size: 32px;
  }
  .about-us img {
    width: 75%;
    height: 260px;
  }
  .about-us .information {
    font-size: 20px;
    line-height: 22px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .first-main {
    min-height: 600px;
  }
  .first-main .red-text {
    font-size: 22px;
  }
  .first-main section.interesting-news {
    min-height: 820px;
    width: 29.9295%;
  }
  .first-main section.interesting-news .mini-news p {
    font-size: 12px;
  }
  .about-us {
    min-height: 860px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-us h1 {
    font-size: 34px;
  }
  .about-us img {
    width: 80%;
    height: 280px;
  }
  .about-us .information {
    font-size: 22px;
    line-height: 23px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
  .first-main {
    min-height: 600px;
  }
  .first-main .red-text {
    font-size: 22px;
  }
  .first-main section.interesting-news {
    min-height: 820px;
    width: 29.9295%;
  }
  .first-main section.interesting-news .mini-news p {
    font-size: 14px;
  }
  .about-us {
    min-height: 860px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-us h1 {
    font-size: 37px;
  }
  .about-us img {
    width: 85%;
    height: 290px;
    margin-left: 48px;
  }
  .about-us .information {
    font-size: 23px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=shablon.css.map */